<div>
    <div style="background-color: #fbf6f6; margin-top: 5px; border-radius: 5px; " class="container">
        <div class="d-flex justify-content-start">
            <div style=
                "background-color: rgb(67, 121, 223);
                margin: 5px;
                border: 4px;
                border-radius: 5px;
                width: 100px;
                text-align: center;
                color: azure;
                ">
                {{testt.subject}}
            </div>
            <div *ngFor = "let grade of grade" class="d-flex justify-content-start">
                <div style=
                "background-color: rgb(110, 156, 199);
                margin: 5px;
                border: 4px;
                border-radius: 5px;
                width: 40px;
                text-align: center;
                color: azure;
                ">
                    {{grade}}
                </div>
            </div>
        </div>
    </div>
</div>























<!-- <div style="background-color: #fbf6f6;" class="container">
    <div class="d-flex justify-content-start" style="margin: 10px; display: table-cell">
        <div style=
        "background-color: rgb(67, 121, 223); 
        border-radius: 5px; 
        width: 20px;
        height: 40px ;                       
        text-align: center;
        float: left;
        color: azure;"
        >
            {{testt.subject}}
        </div>
        <div *ngFor = "let grade of grade" class="d-flex justify-content-start" 
        style=
        "background-color:#fbf6f6;
        float: left;
        margin: 10px;
        " >
            <div 
            style=
            "background-color: rgb(110, 156, 199);
            margin: 5px;
            border: 4px;
            border-radius: 5px;
            width: 40px;
            text-align: center;
            color: azure;
            " >
                {{grade}}
            </div>
        </div>
    </div>
</div> -->




















<!-- <div class="container" style="background-color: antiquewhite;">
    <div class="row">
        <div class="col-1" style=
        "background-color: rgb(134, 83, 17);
        border-radius: 5px;
        margin: 50px">
            {{testt.subject}}
        </div>        
    
        <div *ngFor = "let grade of grade" class=""  
        style=
        "background-color: rgb(43, 226, 211); 
        border-radius: 5px;
        width: 40px;
        height: 40px;        
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        margin: 10px;"
        >
            {{grade}}
        </div>
    </div>
</div> -->


<!-- <div class="d-flex justify-content-center" style="background-color: rgb(71, 165, 42);">
    {{grade}}
</div> -->
